*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.text-box h1{
    margin-left: -100px;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background3.jpg);
    background-position: center;
    background-size: cover;
}
.aa{
    background-image: url("https://icons8.com/icon/S5biqohaDgd1/menu");
    background-repeat: no-repeat;
    background-size: cover;
}
.logo {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    margin-left: 0.5%;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.ll{
    display: none;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li ::after{
    content: '';
    width:0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin:auto;
    transition: 0.5s;
}
.nav-links ul li :hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 80%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 30px;
    padding:20px;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background:transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background:#f44336;
    transition: 1s;
}
nav .fa{
    display: none;
}
@media(max-width:700px){
    *{
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        overflow-x: hidden;
    }
        .text-box h1{
        font-size: 20px;
        padding:10px;
        margin-left: -100px;
    }
    .hero-btn{
        padding: 5px 20px;
        font-size: 7px;
    }
    .nav-links ul li{
        display: block;
    }
    .ll{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: rgb(0, 0, 0);
        height: 100vh;
        width: 200px;
        top:0;
        right: 0;
        text-align: left;
        z-index: 2;
        transition: 1s;
        
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
    .nav-links ul li a{
        color: rgb(255, 255, 255);
    }
}
/*------today section-----*/
.today{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
}
h1{
    padding-bottom: 8px;
    font-weight: 600;
}
.row{
    margin: 5px;
    display: flex;
    justify-content:space-between;
}
.col{
    flex-basis: 31%;
    color: white;
    background: #4e889a;
    padding: 20px 12px;
    box-sizing: border-box;
    width: 220px;
    margin:20px;
    cursor: pointer;
    transition:0.5s;
    border-radius: 10px;
}
.col h3{
    color: #000000;
    margin-bottom: 5px;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10;
}
.col:hover{
    box-shadow: 0 0 20px 0px rgb(57, 57, 234);
}
@media(max-width:700px){
    *{
        overflow-x: hidden;
    }
    .row{
        flex-direction: column;
        align-items: center;
    }
    .row2{
        flex-direction: column;
        align-items: center;
    }
    .row3{
        flex-direction: column;
        align-items: center;
    }
    .row3s{
        flex-direction: column;
        align-items: center;
    }
    .row4{
        flex-direction: column;
        align-items: center;
    }
}
/*---location-------*/
.location{
    width: 100%;
    margin: auto;
    text-align: center;
    
}
.row2{
    margin: 5px;
    display: flex;
    justify-content: space-between;
}
.loc-col img{
    height: 200px; 
    width: 200px; 
    border: 2px solid #0077b6;
    border-radius: 10px; 
    margin: 10px;height: 200px;
    width: 200px;  
    margin: 10px;
}
.loc-col img:hover {
    box-shadow: 0 0 20px 0px #93f2ff;
}
.row2{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
}
.loc-col {
    flex: 0 0 calc(33.3333% - 20px); 
    margin: 10px; 
    text-align: center; 
}
/*-----facilities-------*/

.facilities{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top:50px;
    background-color:rgb(248, 242, 218);
    padding-bottom: 30px;
}
.row3{
    margin: 5px;
    display: flex;
    justify-content: space-between;
}
.facilitiess{
    width: 100%;
    text-align: center;
    padding-top:50px;
    background-color:rgb(255, 255, 254);
    padding-bottom: 30px;
}
.row3s{
    margin-left: 5px;
    display: flex;
    align-items: center;
    
}
.facilities-col img{
    height: 200px; 
    width: 200px; 
    border: 1.5px solid #000000;
    border-radius: 100%; 
    margin: 10px;height: 200px;
    width: 200px;  
    margin: 10px;

}
.facilities-col img:hover{
    border-radius: 1px;
    transition: 0.5s;
}
/*----------reviews----------*/

.review{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 30px;
}
.row4{
    margin: 5px;
    display: flex;
    justify-content:space-evenly;
}
.review-col{
    flex-basis: 31%;
    background: #f5f3bb;
    padding: 20px 12px;
    box-sizing: border-box;
    width: 50%;
    margin:20px;
    cursor: pointer;
    transition:0.5s;
    border-radius: 10px;
}
.review-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.review-col p{
   color: #504e4e;
}
@media(max-width:700px){
    .review-col img{
        margin-left:0px;
        margin-right: 15px;
        overflow-x: hidden;
    }
}
/*--------footer-----*/
.footer{
    width:100%;
    text-align: center;
    padding: 30px 0;
    background-color: #98bfc2c8;
}
.footer h4{
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;
}
.footer h3{
    font-size: 15px;
}

/*-----for,------*/
.form-style-2{
	max-width: 100%;
	padding: 20px 20px 20px 20px;
	font: 13px Arial, Helvetica, sans-serif;
}
.form-style-2-heading{
	font-weight: bold;
	font-style: italic;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	font-size: 15px;
	padding-bottom: 3px;
}
.form-style-2 label{
	display: block;
	margin: 10px 0px 15px 0px;
}
.form-style-2 label > span{
	width: 100px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}
.form-style-2 span.required{
	color:red;
}
.form-style-2 .tel-number-field{
	width: 40px;
	text-align: center;
}
.form-style-2 input.input-field, .form-style-2 .select-field{
	width: 48%;	
}
.form-style-2 input.input-field, 
.form-style-2 .tel-number-field, 
.form-style-2 .textarea-field, 
 .form-style-2 .select-field{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
}
.form-style-2 .input-field:focus, 
.form-style-2 .tel-number-field:focus, 
.form-style-2 .textarea-field:focus,  
.form-style-2 .select-field:focus{
	border: 1px solid #0C0;
}
.form-style-2 .textarea-field{
	height:100px;
	width: 55%;
}
.form-style-2 input[type=submit],
.form-style-2 input[type=button]{
	border: none;
	padding: 8px 15px 8px 15px;
	background: #FF8500;
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.form-style-2 input[type=submit]:hover,
.form-style-2 input[type=button]:hover{
	background: #EA7B00;
	color: #fff;
}
.facilitiess{
    text-align: center;
}